<?xml version="1.0" encoding="UTF-8"?>
<!-- import embedded namespace -->
<b:beans xmlns="http://www.springframework.org/schema/bogus"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:bogus="http://www.springframework.org/schema/bogus"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/bogus http://www.springframework.org/schema/bogus/bogus.xsd
                      http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<b:bean id="bean" class="java.lang.Object"/>
	<bogus:bogus>bogus declaration</bogus:bogus>
	
</b:beans>