<?xml version="1.0" encoding="UTF-8"?>
<!-- import embedded namespace -->
<b:beans xmlns="http://www.springframework.org/schema/osgi/test"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:t="http://www.springframework.org/schema/osgi/test"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/osgi/test http://www.springframework.org/schema/osgi/test/test.xsd">

	<b:bean id="bean" class="java.lang.Object"/>
	<t:test>test element</t:test>
</b:beans>