<?xml version="1.0" encoding="UTF-8"?>
<!-- import embedded namespace -->
<b:beans xmlns="http://www.springframework.org/schema/osgi"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:b="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<reference id="service">
		<interfaces>
			<!-- two JDK packages -->
			<b:value>java.util.Comparator</b:value>
			<!-- one OSGi package -->
			<b:value>org.osgi.framework.Constants</b:value>
			<!-- a bundle (Spring) package -->
			<b:value>org.springframework.beans.factory.InitializingBean</b:value>
			<b:value>javax.sql.DataSource</b:value>
		</interfaces>
	</reference>	
</b:beans>