<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/osgi
           http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<osgi:list id="collection" interface="java.awt.Shape"
		cardinality="0..N">
		<osgi:listener bind-method="bind" unbind-method="unbind">
			<bean class="org.springframework.osgi.iandt.bridgemethods.Listener" />
		</osgi:listener>
	</osgi:list>

</beans>